a i   {
    color: rgb(73, 73, 73);
}

a, a:hover, a:visited, a:active
{
	color: #007bff !important;
	text-decoration:none;
}

h1  {
    position: relative;
}

ul  {
    font-size: 20px;
    color: #FFFFFF;
    padding: 10px;
    margin-bottom: 25px;
    box-shadow: 1px 1px 8px 1px rgb(100, 100,100);
    border-radius: 50px;
    background-color: #C0C0C0;
}

.float-button{
    position:fixed;
    width:60px;
    height: 60px;
    background: darkblue;
    color: #FFFFFF;
    border-radius: 50%;
    font-size: 30px;
    right:5px;
    top:50%;
    transform: translateY(-50%);
    box-shadow: 1px 1px 8px 1px rgb(100, 100,100);

}

.float-button i{
    position:absolute;

    top: 2rem;
    left: 2rem;
    transform: translateY(-50%) translateX(-50%);
}

.navbar {
    z-index: 500;
}

.dropdown-toggle::after {
    display:none;
}

#toast   {
    position: absolute;
    top: 3.5rem; 
    right: 0px;
    z-index: 1100;
}

.fas, .far  {
    font-size: 1.5rem;
}

.fa-heart   {
    float: left;
    color: red !important;
}

.fa-save    {
    float: right;
    color: darkgreen !important;
}